<%= form_for @server, html: { class: "uk-form" } do |f| %>

  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="uk-grid">
    <div class="uk-width-medium-1-4">
      <%= f.label :name %>
      <%= f.text_field :name, class: "uk-width-1-1", placeholder: "Server name" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :os %>
      <%= f.text_field :os, class: "uk-width-1-1", placeholder: "Operation system" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-4">
      <%= f.label :ip %>
      <%= f.text_field :ip, class: "uk-width-1-1", placeholder: "IP Address" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :ilo %>
      <%= f.text_field :ilo, class: "uk-width-1-1", placeholder: "iLO Address" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-4">
      <%= f.label :brand %>
      <%= f.text_field :brand, class: "uk-width-1-1", placeholder: "IBM / HP / DELL ......" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :model %>
      <%= f.text_field :model, class: "uk-width-1-1", placeholder: "Server model" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-4">
      <%= f.label :cpu %>
      <%= f.text_field :cpu, class: "uk-width-1-1", placeholder: "CPU detail" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :ram %>
      <%= f.text_field :ram, class: "uk-width-1-1", placeholder: "Ram size" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :local_disk %>
      <%= f.text_field :local_disk, class: "uk-width-1-1", placeholder: "Local harddisk size" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-4">
      <%= f.label :place %>
      <%= f.text_field :place, class: "uk-width-1-1", placeholder: "Where is the server" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :position %>
      <%= f.text_field :position, class: "uk-width-1-1", placeholder: "Server position" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-4">
      <%= f.label :sn %>
      <%= f.text_field :sn, class: "uk-width-1-1", placeholder: "Serial Number" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :service_expired_day %>
      <%= f.date_field :service_expired_day, class: "uk-width-1-1", placeholder: "yyyy-mm-dd" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-2-3">
      <%= f.label :function %>
      <%= f.text_area :function, class: "uk-width-1-1", rows: 5, placeholder: "Let's know what the server work for" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-2-3">
      <%= f.label :remark %>
      <%= f.text_area :remark, class: "uk-width-1-1", rows: 5, placeholder: "Some remark optional" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-2">
      <%= f.submit class: "uk-button uk-button-large uk-button-primary" %>
      <%= link_to 'Back', servers_path, class: "uk-button uk-button-link" %>
    </div>
  </div>

<% end %>
