<%= provide :title, "Server-#{@server.name}" %>

<h1>Show server</h1>

<hr>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>Server Name</dt>
    <dd><%= @server.name %></dd>
  </div>
  <div class="uk-width-medium-1-4">  
    <dt>Operation system</dt>
    <dd><%= @server.os %></dd>
  </div>
</dl>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>IP Address</dt>
    <dd><%= @server.ip %></dd>
  </div>
  <div class="uk-width-medium-1-4">  
    <dt>iLO Address</dt>
    <dd><%= @server.ilo %></dd>
  </div>
</dl>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>Server brand</dt>
    <dd><%= @server.brand %></dd>
  </div>
  <div class="uk-width-medium-1-4">  
    <dt>Server model</dt>
    <dd><%= @server.model %></dd>
  </div>
</dl>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>CPU</dt>
    <dd><%= @server.cpu %></dd>
  </div>
  <div class="uk-width-medium-1-4">  
    <dt>Ram</dt>
    <dd><%= @server.ram %></dd>
  </div>
  <div class="uk-width-medium-1-4">  
    <dt>Local disk</dt>
    <dd><%= @server.local_disk %></dd>
  </div>
</dl>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>Place</dt>
    <dd><%= @server.place %></dd>
  </div>
  <div class="uk-width-medium-1-4">  
    <dt>Position</dt>
    <dd><%= @server.position %></dd>
  </div>
</dl>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>Serial number</dt>
    <dd><%= @server.sn %></dd>
  </div>
  <div class="uk-width-medium-1-4">  
    <dt>Service expired day</dt>
    <dd><%= @server.service_expired_day %></dd>
  </div>
</dl>

<% if @server.function.present? %>
  <dl class="uk-grid">
    <div class="uk-width-medium-1-2">
      <dt>Function</dt>
      <dd><%= @server.function %></dd>
    </div>
  </dl>
<% end %>

<% if @server.remark.present? %>
  <dl class="uk-grid">
    <div class="uk-width-medium-1-2">
      <dt>Remark</dt>
      <dd><%= @server.remark %></dd>
    </div>
  </dl>
<% end %>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>Create by</dt>
    <dd><%= @server.user.username %></dd>
  </div>
</dl>

<br>

<%= link_to edit_server_path(@server), class: "uk-button uk-button-success" do %>
  Edit <i class="uk-icon-pencil"></i>
<% end %>
<%= link_to 'Back', servers_path, class: "uk-button uk-button-link" %>
