<% provide :title, "Edit User" %>

<div class="user-form uk-container uk-container-center">
	<h1><i class="uk-icon-user"></i> Edit User</h1>

    <hr>

	<%= form_for @user, html: { class: "uk-form uk-form-horizontal" } do |f| %>

    <div class="uk-form-row">
    	<%= f.label :username, class: "uk-form-label" %>
    	<div class="uk-form-controls">
    		<%= f.text_field :username, placeholder: "Your Name", disabled: true %>
    	</div>
    </div>

    <div class="uk-form-row">
    	<%= f.label :email, class: "uk-form-label" %>
    	<div class="uk-form-controls">
    		<%= f.email_field :email, placeholder: "yourname@example.com", required: true, class: "uk-form-width-medium" %>
    	</div>
    </div>

    <div class="uk-form-row">
    	<%= f.label :admin, class: "uk-form-label" %>
    	<div class="uk-form-controls">
            <% if current_user.admin && User.where(admin: true).count >= 1 && @user != current_user %>
                <%= f.select :admin, [['Admin', true], ['Common User', false]],{}, class: "uk-form-small" %>
            <% else %>
                <%= f.select :admin, [['Admin', true], ['Common User', false]],{}, class: "uk-form-small", disabled: true %>
            <% end %>
    	</div>
    </div>

    <div class="uk-form-row">
        <%= f.label :password, class: "uk-form-label" %>
        <div class="uk-form-controls">
            <%= f.password_field :password, required: true %><span class="uk-form-help-inline">You must input password to confirm the changes.</span>
        </div>
    </div>

    <hr>

    <div class="uk-form-row">
        <%= f.label :password_new, class: "uk-form-label" %>
        <div class="uk-form-controls">
            <%= f.password_field :password_new %><span class="uk-form-help-inline">If you want to change password, please input now.</span>
        </div>
    </div>

    <div class="uk-form-row">
        <%= f.label :password_new_confirmation, class: "uk-form-label" %>
        <div class="uk-form-controls">
            <%= f.password_field :password_new_confirmation %><span class="uk-form-help-inline">It must be the same as password new above.</span>
        </div>
    </div>

    <br>
    <br>

	<div class="uk-form-row">
		<%= f.submit class: "uk-button uk-button-primary" %>
		<%= link_to 'Back', users_path, class: "uk-button uk-button-link" %>
	</div>

	<% end %>

</div>
