<%= form_for @software, html: { class: "uk-form" } do |f| %>

  <% if @software.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@software.errors.count, "error") %> prohibited this software from being saved:</h2>

      <ul>
      <% @software.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-grid">
    <div class="uk-width-medium-1-4">
      <%= f.label :name %>
      <%= f.text_field :name, class: "uk-width-1-1", placeholder: "Software name" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :kind %>
      <%= f.text_field :kind, class: "uk-width-1-1", placeholder: "Software kind" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-4">
      <%= f.label :sn, "SN" %>
      <%= f.text_field :sn, class: "uk-width-1-1", placeholder: "Serial number" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :service_expired_day %>
      <%= f.text_field :service_expired_day, class: "uk-width-1-1", placeholder: "yyyy-mm-dd" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-2-3">
      <%= f.label :function %>
      <%= f.text_area :function, class: "uk-width-1-1", rows: 5, placeholder: "Let's know what the software work for" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-2-3">
      <%= f.label :remark %>
      <%= f.text_area :remark, class: "uk-width-1-1", rows: 5, placeholder: "Some remark optional" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-2">
      <%= f.submit class: "uk-button uk-button-large uk-button-primary" %>
      <%= link_to 'Back', softwares_path, class: "uk-button uk-button-link" %>
    </div>
  </div>

<% end %>
