<ul class="uk-nav">

	<li>
  	<%= render 'share/search' %>
  </li>
  <li class="uk-nav-header">Assets</li>
  <li id="servers"><a href="<%= servers_path %>">Servers</a></li>
  <li id="softwares"><a href="<%= softwares_path %>">Softwares</a></li>
  <li id="network-devices"><a href="<%= network_devices_path %>">Netword devices</a></li>
  <li id="systems"><a href="<%= systems_path %>">Systems</a></li>

</ul>