<% provide :title, "Listing assets" %>

<div id="users-list" class="uk-container uk-container-center">
	
	<div class="uk-grid">
    
    <div class="uk-width-medium-1-4">

      <%= render 'assets/sidebar' %>

    </div>


    <div class="eco-main uk-width-medium-3-4">
			<h1><i class="uk-icon-gears"></i> Listing assets</h1>
			<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
				<thead>
					<tr>
						<td>Kind</td>
						<td>Qty</td>
						<td>Detail</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Server</td>
						<td><%= servers_qty %></td>
						<td>
							<%= link_to servers_path, class: "uk-button uk-button-mini uk-button-primary" do %>
								<i class="uk-icon-eye"></i>
							<% end %>
						</td>
					</tr>
					<tr>
						<td>Software</td>
						<td><%= softwares_qty %></td>
						<td>
							<%= link_to softwares_path, class: "uk-button uk-button-mini uk-button-primary" do %>
								<i class="uk-icon-eye"></i>
							<% end %>
						</td>
					</tr>
					<tr>
						<td>Network Device</td>
						<td><%= network_devices_qty %></td>
						<td>
							<%= link_to network_devices_path, class: "uk-button uk-button-mini uk-button-primary" do %>
								<i class="uk-icon-eye"></i>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
    </div>
	</div>
</div>