<%= form_for @system, html: { class: "uk-form" } do |f| %>
  <% if @system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system.errors.count, "error") %> prohibited this system from being saved:</h2>

      <ul>
      <% @system.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-grid">
    <div class="uk-width-medium-2-5">
      <%= f.label :name %>
      <%= f.text_field :name, class: "uk-width-1-1", placeholder: "System name" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-3-5">
      <%= f.label :link, "System link" %>
      <%= f.text_field :link, class: "uk-width-1-1", placeholder: "http://www.baidu.com/" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-4">
      <%= f.label :username, "Login account" %>
      <%= f.text_field :username, class: "uk-width-1-1", placeholder: "Login account" %>
    </div>
    <div class="uk-width-medium-1-4">
      <%= f.label :password %>
      <%= f.text_field :password, class: "uk-width-1-1", placeholder: "password" %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="uk-width-medium-1-2">
      <%= f.submit class: "uk-button uk-button-large uk-button-primary" %>
      <%= link_to 'Back', systems_path, class: "uk-button uk-button-link" %>
    </div>
  </div>

<% end %>
