<%= provide :title, "network device | #{@network_device.name}" %>

<h1>Show network device</h1>

<hr>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>Network device Name</dt>
    <dd><%= @network_device.name %></dd>
  </div>
  <div class="uk-width-medium-1-4">  
    <dt>Operation kind</dt>
    <dd><%= @network_device.kind %></dd>
  </div>
</dl>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>IP Address</dt>
    <dd><%= @network_device.ip %></dd>
  </div>
</dl>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>Place</dt>
    <dd><%= @network_device.place %></dd>
  </div>
  <div class="uk-width-medium-1-4">  
    <dt>Position</dt>
    <dd><%= @network_device.position %></dd>
  </div>
</dl>

<% if @network_device.function.present? %>
  <dl class="uk-grid">
    <div class="uk-width-medium-1-2">
      <dt>Function</dt>
      <dd><%= @network_device.function %></dd>
    </div>
  </dl>
<% end %>

<% if @network_device.remark.present? %>
  <dl class="uk-grid">
    <div class="uk-width-medium-1-2">
      <dt>Remark</dt>
      <dd><%= @network_device.remark %></dd>
    </div>
  </dl>
<% end %>

<dl class="uk-grid">
  <div class="uk-width-medium-1-4">
    <dt>Create by</dt>
    <dd><%= @network_device.user.username %></dd>
  </div>
</dl>

<br>

<%= link_to edit_network_device_path(@network_device), class: "uk-button uk-button-success" do %>
  Edit <i class="uk-icon-pencil"></i>
<% end %>
<%= link_to 'Back', network_devices_path, class: "uk-button uk-button-link" %>
